* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  color: #fff;
  background-color: #000;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
.main {
  z-index: 10;
  cursor: none;
  /* background-color: #080d13; */
}
.cursor{
  position: fixed;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    mix-blend-mode: difference;
    z-index: 8;
}
video{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  z-index: -2;
  opacity: 1;
}
/* navbar */
nav {
  height: 10vh;
  width: 100%;
  background-color: #120f0c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
#logo { 
  font-size: 18px;
  font-weight: 500;
  color: #9a5858;
  font-style: normal;
  /* background: var(
    --Title-Gradient,
    linear-gradient(90deg, #64d8c1 -1.88%, #e93636 104.56%)
  ); */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}
#resume {
  margin-right: 15px;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-decoration: none;
}
#resume:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: none;
}
#resume:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}
#resume::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}
#resume:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* default */
.page {
  background-color: #000;
  height: 100vh;
  width: 100%;
}
.heading {
  height: 10%;
  width: 100%;
}
.heading h1 {
  font-weight: 300;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  background: var(
    --Title-Gradient,
    linear-gradient(90deg, #ea3131 -1.88%, #9fa1f7 104.56%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container {
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.heading,
.left,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  width: 75%;
  padding-bottom: 100px;
}
/* page1 */
#page1 {
  height: 100vh;
}
#page1 .container {
  height: 100%;
}
/* left */
.l1 {
  padding-bottom: 110px;
  padding-right: 50px;
}
.l1 h1 {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
}
#name {
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  background: var(
    --Title-Gradient,
    linear-gradient(90deg, #e6d1bc -1.88%, #eb7f13 104.56%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFAF61;

}
.l1 p {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  padding-top: 10px;
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  background: var(
    --Title-Gradient,
    linear-gradient(90deg, #2bfcd3 -1.88%, #ff09a9 104.56%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* right */
.r1 img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border: 1px solid #8fec48;
  box-shadow: 0 0 7px 2px #FFAF61;

  border-radius: 50%;
  margin-bottom: 180px;
}
/* page2 */
/* left */
.l2 h2 {
  box-shadow: 0 0 6px 5px rgba(114, 181, 226, 0.815);
  font-size: 30px;
  font-weight: 600;
  padding: 10px 20px;
  padding-left: 30px;
  border-radius: 12px;
  width: 80%;
  transition: all ease-in-out 0.4s;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  background: var(
    --Title-Gradient,
    linear-gradient(90deg, #e50707 -2.88%, #d5d4e0 104.56%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .l2 h2:hover {
  background-color: blueviolet;
  border: none;
  color: antiquewhite;
  box-shadow: 0 0 10px 6px rgba(0, 142, 236, 0.815);
  transition: all ease-in-out 0.4s;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.l2 p {
  margin-top: 80px;
  font-size: 24px;
  width: 88%;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  background: var(
    --Title-Gradient,
    linear-gradient(90deg, #9fc5be -1.88%, #6d64d3 104.56%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.l2 .text {
  padding: 0;
}
/* right */
.r2 img {
  border: 4px solid #95c11e;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 50px;
  height: 370px;
  width: 370px;
  margin-bottom: 50px;
  box-shadow: 0 0 20px 6px rgba(0, 142, 236, 0.815);
}
/* page3 */
.page3 {
  height: 100vh;
}
/* left */
.l3 {
  padding-top: 50px;
}
.text > .skill {
  padding: 30px;
}
.l3 h3 {
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  background: var(
    --Title-Gradient,
    linear-gradient(90deg, #3db099 -1.88%, #352d90 104.56%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
}
.l3 p {
  margin-top: 15px;
  text-align: left;
  font-size: 30px;
}
/* right */
.r3 ul {
  list-style: none;
  font-size: 25px;
  width: 25%;
  margin-left: 100px;
  padding-bottom: 10px;
}
.r3 ul li {
  position: relative;
  padding: 12px 20px;
  border-radius: 7px;
  border: 2px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}

.r3 ul li:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.r3 ul li:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.r3 ul li::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.r3 ul li:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
/* page4 */
#page4 {
  background-color: #000;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.project1 {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 200px 50px;
}
.project2 {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 50px;
  padding-bottom: 200px;
}
.p1-left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}
.p2-left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}
.p1-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p2-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
#p1-img {
  height: 400px;
  object-fit: cover;
  border: 4px solid #95c11e;
  border-radius: 20px;
}
#p2-img {
  height: 400px;
  width: 700px;
  object-fit: cover;
  border: 4px solid #95c11e;
  border-radius: 20px;
}
.p1-left h2 {
  color: #95c11e;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  background: var(
    --Title-Gradient,
    linear-gradient(90deg, #d1e1de -1.88%, #6d64d3 104.56%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p2-left h2 {
  color: #95c11e;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  background: var(
    --Title-Gradient,
    linear-gradient(90deg, #d1e1de -1.88%, #6d64d3 104.56%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p1-left p {
  width: 85%;
  font-size: 22px;
  padding-top: 20px;
}
.p2-left p {
  width: 85%;
  font-size: 22px;
  padding-top: 20px;
}

/* contact */
#contact {
  height: 20%;
  width: 100%;
  background-color: #000;
  padding: 10px 80px;
  /* background-color: #080d13; */
}
#contact h2 {
  font-size: 35px;
  color: #fff;
  text-align: center;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.wrapper img {
  color: #95c11e;
  height: 35px;
  margin: 5px 10px;
}
/* footer */
footer {
  height: 15%;
  font-size: 22px;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding-bottom: 20px;
  /* background-color: #080d13; */
  /* background: url(./assets/video-bg.mp4); */
}
footer p span {
  font-weight: bold;
  color: #95c11e;
  background-color: #080d13;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .main {
    overflow: hidden;
  }
  .cursor{
    display: none;
  }
  nav {
    padding: 0 20px;
  }
  #logo {
    font-size: 12px;
    padding: 0;
  }
  .container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    position: relative;
  }
  #resume{
    font-size: 10px;
    padding: 8px 12px;
  }
  .l1 {
    position: absolute;
    bottom: 2%;
    padding-left: 60px;
    width: 100%;
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .l1 h1 {
    font-size: 35px;
  }
  #hey {
    font-size: 30px;
    margin-left: 63px;
  }
  #name {
    font-size: 35px;
  }
  .l1 p {
    font-size: 20px;
    padding-left: 20px;
  }
  .r1 {
    width: 100%;
    height: 50%;
    top: 5%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .r1 img {
    height: 250px;
    width: 250px;
    margin-bottom: 20px;
    /* border: 2px solid #cbc7fd; */
  }
  .heading {
    height: 5%;
    border-top: 1px solid #95c11e;
    border-bottom: 1px solid #95c11e;
    padding: 30px 0;
  }
  .heading h1 {
    font-size: 20px;
    margin: 50px;
  }
  .l2 h2 {
    box-shadow: 0 0 5px 5px rgba(0, 142, 236, 0.815);
    font-size: 23px;
    padding: 20px 5px;
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
  .l2 p {
    font-size: 16px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
  .r2 {
    display: none;
  }
  .l3 {
    height: 50%;
    width: 100%;
  }
  .r3 ul {
    display: flex;
  }
  #page3 {
    min-height: 110vh;
  }
  #page3 .container {
    display: block;
  }
  /* #page3 .heading h1 {
    font-size: 35px;
  } */
  .l3 {
    margin-top: 80px;
  }
  #page3 .text {
    width: 85%;
  }
  .l3 h3 {
    font-size: 26px;
    text-align: center;
  }
  .l3 p {
    margin-top: 15px;
    text-align: left;
    font-size: 16px;
    text-align: center;
  }
  .r3 {
    width: 100%;
    height: 50%;
    padding: 10px;
    padding-bottom: 100px;
  }
  .r3 ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
    font-size: 15px;
    width: 100%;
    margin-left: 0px;
    gap: 15px;
    margin-top: 50px;
  }
  .r3 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 500;
  }
  .r3 ul li:nth-child(7) {
    display: none;
  }

  #page4 {
    background-color: #000;
    min-height: 100vh;
    width: 100%;
    position: relative;
  }
  #page4 .heading {
    padding: 0 0;
    margin: 0 0;
    height: 5%;
  }
  .project1 {
    height: 2cqh;
    width: 100%;
    display: block;
    padding-top: 100px;
  }
  .project2 {
    height: 30%;
    width: 100%;
    display: block;
    padding-top: 0;
  }
  .p1-left {
    display: none;
  }
  .p2-left {
    display: none;
  }
  #p1-img {
    height: 150px;
    object-fit: cover;
    border: 4px solid #95c11e;
    border-radius: 20px;
  }
  #p2-img {
    height: 150px;
    width: 270px;
    object-fit: cover;
    border: 4px solid #95c11e;
    border-radius: 20px;
  }
  #contact{
    background-color: #080d13;
  }
  #contact h2{
    height: 20%;
    font-size: 22px;
    width: 100%;
  }
  #contact img{
    height: 25px;
  }
  footer{
    font-size: 14px;
    background-color: #080d13;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .main {
    overflow: hidden;
  }
  nav {
    padding: 0 20px;
  }
  #logo {
    font-size: 16px;
    padding: 0;
  }
/*   .cursor{
    display: none;
  } */
  .container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    position: relative;
  }
  .l1 {
    position: absolute;
    bottom: 2%;
    padding-left: 60px;
    width: 100%;
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .l1 h1 {
    font-size: 50px;
  }
  #hey {
    font-size: 50px;
    margin-left: 83px;
  }
  #name {
    font-size: 50px;
  }
  .l1 p {
    font-size: 30px;
    padding-left: 30px;
  }
  .r1 {
    width: 100%;
    height: 50%;
    top: 5%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .r1 img {
    height: 270px;
    width: 270px;
    margin-bottom: 20px;
  }
  .heading {
    height: 5%;
    padding: 50px 0;
  }
  .heading h1 {
    font-size: 40px;
    margin: 50px;
  }
  .l2 h2 {
    box-shadow: 0 0 5px 5px rgba(0, 142, 236, 0.815);
    font-size: 23px;
    padding: 20px 5px;
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
  .l2 p {
    font-size: 20px;
    width: 100%;
    padding-left: 15px;
    margin-top: 50px;
    text-align: center;
  }
  .r2 {
    display: none;
  }
  .l3 {
    height: 50%;
    width: 100%;
  }
  .r3 ul {
    display: flex;
  }
  #page3 {
    min-height: 110vh;
  }
  #page3 .container {
    display: block;
  }
  #page3 .heading h1 {
    font-size: 50px;
  }
  .l3 {
    margin-top: 80px;
  }
  #page3 .text {
    width: 85%;
  }
  .l3 h3 {
    font-size: 36px;
    text-align: center;
  }
  .l3 p {
    margin-top: 15px;
    text-align: left;
    font-size: 22px;
    text-align: center;
  }
  .r3 {
    width: 100%;
    height: 50%;
    padding: 10px;
    padding-bottom: 100px;
  }
  .r3 ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
    font-size: 15px;
    width: 100%;
    margin-left: 0px;
    gap: 15px;
    margin-top: 50px;
  }
  .r3 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
  }
  .r3 ul li:nth-child(7) {
    display: none;
  }

  #page4 {
    background-color: #000;
    min-height: 100vh;
    width: 100%;
    position: relative;
  }
  #page4 .heading {
    padding: 0;
    margin: 0;
    height: 20%;
  }
  .project1 {
    height: 40%;
    width: 100%;
    display: block;
    padding-top: 150px;
  }
  .project2 {
    height: 40%;
    width: 100%;
    display: block;
    padding-top: 0;
  }
  .p1-left {
    display: none;
  }
  .p2-left {
    display: none;
  }
  #p1-img {
    height: 200px;
    object-fit: cover;
    border: 4px solid #95c11e;
    border-radius: 20px;
  }
  #p2-img {
    height: 200px;
    width: 350px;
    object-fit: cover;
    border: 4px solid #95c11e;
    border-radius: 20px;
  }
  #contact{
    background-color: #080d13;
  }
  footer{
    background-color: #080d13;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1440px){
  .main {
    overflow: hidden;
  }
  nav {
    padding: 0 20px;
  }
  #logo {
    font-size: 16px;
    padding: 0;
  }
/*   .cursor{
    display: none;
  } */
  .container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    position: relative;
  }
  .l1 {
    position: absolute;
    bottom: 2%;
    padding-left: 60px;
    width: 100%;
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .l1 h1 {
    font-size: 50px;
  }
  #hey {
    font-size: 50px;
    margin-left: 83px;
  }
  #name {
    font-size: 50px;
  }
  .l1 p {
    font-size: 30px;
    padding-left: 30px;
  }
  .r1 {
    width: 100%;
    height: 50%;
    top: 5%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .r1 img {
    height: 270px;
    width: 270px;
    margin-bottom: 20px;
  }
  .heading {
    height: 5%;
    padding: 50px 0;
  }
  .heading h1 {
    font-size: 40px;
    margin: 50px;
  }
  .l2 h2 {
    box-shadow: 0 0 5px 5px rgba(0, 142, 236, 0.815);
    font-size: 23px;
    padding: 20px 5px;
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
  .l2 p {
    font-size: 24px;
    width: 100%;
    padding-left: 15px;
    margin-top: 50px;
    text-align: center;
  }
  .r2 {
    display: none;
  }
  .l3 {
    height: 50%;
    width: 100%;
  }
  .r3 ul {
    display: flex;
  }

  #page3 {
    min-height: 110vh;
  }
  #page3 .container {
    display: block;
  }
  #page3 .heading h1 {
    font-size: 50px;
  }
  .l3 {
    margin-top: 80px;
  }
  #page3 .text {
    width: 85%;
  }
  .l3 h3 {
    font-size: 44px;
    text-align: center;
  }
  .l3 p {
    margin-top: 15px;
    text-align: left;
    font-size: 26px;
    text-align: center;
    padding: 0 100px;
  }
  .r3 {
    width: 100%;
    height: 50%;
    padding: 10px;
    padding-bottom: 100px;
  }
  .r3 ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
    font-size: 15px;
    width: 100%;
    margin-left: 0px;
    gap: 15px;
    margin-top: 50px;
  }
  .r3 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
  }
  .r3 ul li:nth-child(7) {
    display: none;
  }

  #page4 .heading h1{
    font-size: 50px;
  }
  .project1 {
    height: 40%;
    width: 100%;
    display: block;
    padding-top: 150px;
  }
  .project2 {
    height: 40%;
    width: 100%;
    display: block;
    padding-top: 0;
  }
  .p1-left {
    display: none;
  }
  .p2-left {
    display: none;
  }
  #p1-img {
    height: 300px;
    object-fit: cover;
    border: 4px solid #95c11e;
    border-radius: 20px;
  }
  #p2-img {
    height: 300px;
    width: 530px;
    object-fit: cover;
    border: 4px solid #95c11e;
    border-radius: 20px;
  } 
 
}
